DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/appdb
POSTGRES_PASSWORD=
REDIS_URL=redis://redis:6379/0
OPENAI_API_KEY=
ELASTICSEARCH_URL=http://elasticsearch:9200
ELASTICSEARCH_URL_LOCAL=http://localhost:9200
SENDGRID_API_KEY=
SENDER_EMAIL=
SECRET_KEY=